<h2>Template Forms</h2>
<hr>

<ul class="list-group">
    <li routerLink="template/basicos"
        routerLinkActive="active"
        class="list-group-item">
            Basicos
    </li>
    <li routerLink="template/dinamicos"
        routerLinkActive="active"
        class="list-group-item">
            Dinamicos
    </li>
    <li routerLink="template/switches"
        routerLinkActive="active"
        class="list-group-item">
            Switches
    </li>
</ul>

<br>
<h2>Reactive Forms</h2>
<hr>

<ul class="list-group">
    <li routerLink="reactive/basicos"
        routerLinkActive="active"
        class="list-group-item">
            Basicos
    </li>
    <li routerLink="reactive/dinamicos"
        routerLinkActive="active"
        class="list-group-item">
            Dinamicos
    </li>
    <li routerLink="reactive/switches"
        routerLinkActive="active"
        class="list-group-item">
            Switches
    </li>
</ul>
